.popup {
    display: none;
    height: 100%;
    flex-direction: column;
    width: 100%;
    background-color: #383838;
    z-index: 1;
    position: fixed;
    top: 0;
    opacity: 96%;
}

.popup > div > h1 {
    color: white;
}

.modal{
    display: block;
    position: fixed;
    background-color: #484848;
    opacity: 99%;
}